$backdrop-background-color: rgba(0, 0, 0, 0.7);
$grey: #797979;
$grey-light: #cccccc;
$white: rgba(255, 255, 255, 1);
$dashed-border: dashed 1px $grey;

.react-modal-wrapper {
  display: none;
  z-index: 999999 !important;
}
.react-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 999999 !important;
  background-color: $backdrop-background-color;
  overflow: hidden;
  .react-modal {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    .react-modal-content {
      background-color: $white;
      width: 600px;
      margin: 0 auto;
      overflow: hidden;
      &.transparent {
        background-color: rgba(0,0,0,0.3);
      }
      .react-modal-header {
        border-bottom: $dashed-border;
        &.transparent {
          background-color: rgba(0,0,0,0.3);
        }
        &.white {
          color: $grey-light;
          border-bottom-color: $grey-light;
          button.close {
            span {
              color: $grey-light;
            }
          }
        }
        h4.react-modal-title {
          padding: 10px;
          margin: 0;
        }
        button.close {
          padding: 10px;
          opacity: 1;
          span {
            color: $white;
          }
        }
      }
      .react-modal-body {
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
        max-height: 500px;
        width: 100%;
        &.no-padding {
          padding: 0;
          padding-top: 5px;
        }
        &.transparent {
          background-color: rgba(0,0,0,0);
        }
        p {
          margin: 0;
        }
      }
    }
  }
}